h1{
  border-bottom: 1px solid black;
  padding-bottom: 1cm;
}

body{
  background: #EBDEF0;
}

button{
  font-size: 12px;
  text-align: center;
  padding: 10px 24px;
  background-color: #D6EAF8
}

.table{
  padding-top: 2cm;
}

.square{
  border: 1px solid black;
  font-size: 40pt;
  height: 40px;
  width: 80px;
  text-align: center;
  font-family: cursive;
}
